<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="ContactUsTest">
    <classes>
      <class name="automationInteligenceProject.ContactUsTest"/>

    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="ErrorValidationTest">
    <classes>
      <class name="automationInteligenceProject.ErrorValidationTest"/>
    </classes>
  </test>
  
</suite> <!-- Suite -->
